<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- the data source class is recommend to use com.mchange.v2.c3p0.ComboPooledDataSource 
		in production phase -->
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:4406/sms" />
		<property name="user" value="root" />
		<property name="password" value="0000" />
	</bean>

	<!-- define Hibernate sessionFactory provided by Spring ORM -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- set other Hibernate properties in hibernate.cfg.xml file -->
		<property name="configLocation"
			value="/WEB-INF/hibernate.cfg.xml" />
	</bean>

	<!-- define Hibernate sessionFactory provided by Spring -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- for using annotation @Transaction in DAOs -->
	<tx:annotation-driven />


	<!-- DAO -->

	<!-- ACCESSCONTROL -->
	<bean id="ProfileDao" class="sms.access.profile.dao.ProfileDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="TransactionDao"
		class="sms.access.transaction.dao.TransactionDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="UserDao" class="sms.access.user.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- COMPANY -->
	<bean id="CompanyDao" class="sms.company.dao.CompanyDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="StockDao" class="sms.company.dao.StockDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<!-- CLIENTE -->
	<bean id="ClientDao" class="sms.invoicing.client.dao.ClientDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- PRODUTO -->
	<bean id="BatchDao" class="sms.item.batch.dao.BatchDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="ProductDao" class="sms.item.product.dao.ProductDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!--STOCK -->
	<bean id="ItemRequestDao"
		class="sms.stock.item.dao.ItemRequestDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="ProviderDao" class="sms.stock.provider.dao.ProviderDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="RequestDao" class="sms.stock.request.dao.RequestDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<!-- VENDA -->

	<bean id="QuotationDao"
		class="sms.invoicing.quotation.dao.QuotationDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="SaleItemDao" class="sms.invoicing.item.dao.SaleItemDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="InvoiceDao" class="sms.invoicing.invoice.dao.InvoiceDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="SaleDao" class="sms.invoicing.sale.dao.SaleDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="CashSaleDao" class="sms.invoicing.cash.dao.CashSaleDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<bean id="PaidDao" class="sms.invoicing.payment.dao.PaidDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="PaidInvoiceDao"
		class="sms.invoicing.payment.dao.PaidInvoiceDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="PaidPosDao" class="sms.invoicing.payment.dao.PaidPosDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="ItemPaidDao"
		class="sms.invoicing.payment.dao.ItemPaidDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="ItemPaidBillDao"
		class="sms.invoicing.payment.dao.ItemPaidBillDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="ItemPaidPosDao"
		class="sms.invoicing.payment.dao.ItemPaidPosDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="ReceiptDao" class="sms.invoicing.receipt.dao.ReceiptDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="ViaBankDao" class="sms.management.bank.dao.ViaBankDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<!-- MANAGERS -->

	<!-- ACCESSCONTROL -->
	<bean id="AccessManager" class="sms.access.AccessManagerImpl">
		<property name="ProfileDao" ref="ProfileDao" />
		<property name="TransactionDao" ref="TransactionDao" />
		<property name="UserDao" ref="UserDao" />
	</bean>

	<!-- COMPANY -->
	<bean id="CompanyManager" class="sms.company.manager.CompanyManagerImpl">
		<property name="CompanyDao" ref="CompanyDao" />
		<property name="StockDao" ref="StockDao" />
	</bean>


	<!-- PRODUTO -->
	<bean id="ItemManager" class="sms.item.ItemManagerImpl">
		<property name="BatchDao" ref="BatchDao" />
		<property name="ProductDao" ref="ProductDao" />
	</bean>


	<!-- STOCK -->
	<bean id="StockManager" class="sms.stock.StockManagerImpl">
		<property name="ItemRequestDao" ref="ItemRequestDao" />
		<property name="ProviderDao" ref="ProviderDao" />
		<property name="RequestDao" ref="RequestDao" />
	</bean>

	<!-- VENDA -->

	<bean id="InvoicingManager"
		class="sms.invoicing.InvoicingManagerImpl">
		<property name="ClientDao" ref="ClientDao" />
		<property name="CashSaleDao" ref="CashSaleDao" />
		<property name="InvoiceDao" ref="InvoiceDao" />
		<property name="ItemPaidBillDao" ref="ItemPaidBillDao" />
		<property name="ItemPaidDao" ref="ItemPaidDao" />
		<property name="ItemPaidPosDao" ref="ItemPaidPosDao" />
		<property name="PaidDao" ref="PaidDao" />
		<property name="PaidInvoiceDao" ref="PaidInvoiceDao" />
		<property name="PaidPosDao" ref="PaidPosDao" />
		<property name="QuotationDao" ref="QuotationDao" />
		<property name="ReceiptDao" ref="ReceiptDao" />
		<property name="SaleDao" ref="SaleDao" />
		<property name="SaleItemDao" ref="SaleItemDao" />
	</bean>


	<bean id="BankManager"
		class="sms.management.bank.manager.BankManagerImpl">
		<property name="ViaBankDao" ref="ViaBankDao" />
	</bean>

</beans>