Style

* {
	margin: 0px;
	padding: 0px 0px;
	list-style-type: none;
}

.z-window-icon .z-window-close{
  font-size: 28px;
  display: block;
  width: 30px;
  height: 26px;
}

.z-north, .z-south, .z-west, .z-center, .z-east {
	border: none;
}

.z-center {
	width: 100%;
}

.z-south-body, .z-center-body, .z-north-body {
	padding: 2px;
}

.z-north-body, .z-south-body, .z-west-body, .z-center-body, .z-east-body {
    line-height: 0px;
    color: rgba(0,0,0,0.9);
}

.z-tabs {
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 24px;
    overflow: hidden;
    position: relative;
    background: #fff;
    min-height: 37px;
}

.z-tabbox{
	border:none;
}

.z-tabpanel {
    border-top: 1px solid #d9d9d9;
    padding: 0px;
    zoom: 1;
    color: rgba(0,0,0,0.9);
}

.container, .header, .section, .aside, .footer {
	display: block;
}

.header {
	height: 30px;
	display: flex;
}

.container {
	width: 100%;
	border: none;
}

.logo{
	color: #1c3bcd;
	font-size: 3rem;
	font-family: Algerian;
}


.z-menubar{
	margin-top: 19px;
}

.z-menubar, .z-menu, .z-menu-content {
	/*border-radius: 10px;*/
	background:transparent;
	color: black;
	font-weight:bold;
	border: none;
}

.z-menu-text, .z-menuitem-text {
	font-size: 14px;
}

.z-menu-content {
    padding-right: 25px;
}

.z-menu-content:hover, .z-menuitem-content:hover {
	color: #fff;
	background-color: #0093f9; /*#e8f5ff*/
}

.z-menu-content:active {
	color: #fff;
	background-color: #0093f9;
}

.z-menuitem-content:active {
	color: #fff;
	background-color: #0093f9;
}

.z-menu-selected>.z-menu-content {
	color: #fff;
	background-color: #0093f9;
}

.z-menuitem-selected>.z-menuitem-content {
	color: #fff;
	background-color: #0093f9;
}

.z-menupopup .z-menu-content:hover {
	color: #fff;
	background-color: #0093f9;
}

.z-menupopup .z-menuitem-content:hover {
	color: #fff;
	background-color: #0093f9;
}

.z-menupopup .z-menu-content:focus {
	color: #fff;
	background-color:#0093f9;
}

.z-menupopup .z-menuitem-content:focus {
	color: #fff;
	background-color: #0093f9;
}

.z-menupopup .z-menu-content:active, .z-menupopup .z-menuitem-content:active
	{
	color: #fff;
	background-color: #0093f9
}

.grid {
	/*padding-top: 5px;*/
	padding-bottom: 30px;
}

.left {
	width: 35%;
	float: left;
}

.center {
	width: 30%;
	float: left;
}

.right {
	width: 35%;
	float: left;
	text-align: right;
}

.left_session {
	width: 30%;
	float: left;
}

.center_session {
	width: 30%;
	margin: auto 20px;
	float: left;
}

.right_session {
	width: 30%;
	float: left;
}

.z-tab-content {
	font-size: 16px;
	font-weight: bold;
	font-family: Times New Roman;
}


.z-button {
	font-size: 12px;
	font-style: normal;
	height: 19px;
}

.z-button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    min-height: 24px;
    border: 2px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 8px;
    line-height: normal;
    background-color: #0093f9;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    -ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    cursor: pointer;
    white-space: nowrap;
}

.z-checkbox-content {
	font-size: 13px;
}

input[type="checkbox"] {
	margin: 8px 8px 13px 13px;
	width: 13px;
	height: 13px;
}

.search .z-comboitem-text, .search .z-combobox-button, .combobox .z-combobox-input
	{
	font-size: 14px;
	line-height: 20px;
	height: 20px;
}

.search .z-combobox-button {
	border-radius: 15px 15px 15px 15px;
}

.search .z-combobox-input {
	width: 460px;
	border-radius: 15px 15px 15px 15px;
}

.z-comboitem-text, .z-combobox-input,  .z-combobox-input,
	 .z-datebox-input,  .z-spinner-input,  .z-doublespinner-input
	{
	font-size: 13px;
	line-height: 25px;
	height: 23px;
}

.z-datebox-button,.z-bandbox-button,.z-combobox-button  {
	font-size: 13px;
	min-height: 40px;
	padding-top: 9px
}



.z-calendar-cell, .z-calendar-title, .z-calendar-icon .z-calendar-left,
	.z-calendar-icon .z-calendar-right {
	font-size: 18px;
}

.z-calendar th{
	font-size: 14px;
}

.z-caption {
	font-size: 14px;
	font-weight: bold;
	font-family: Times New Roman;
}

.z-groupbox {
    padding-top: 8px;
    margin-right: 10px;
}

.listbox {
	border: none;
	height: 380px;
}

.z-listbox-footer {
	background: #0093f9; /*#f2f2f2;*/
	border-top: 1px solid #0093f9; /*#d9d9d9;*/
	overflow: hidden;
}

.z-listbox-footer .z-listfooter {
	background: #0093f9; /*#f2f2f2;*/
}

.z-listheader-hover {
	background: #0093f9; /*#4fb7ff;*/
}

.z-listheader-visited .z-listheader-button {
	background: #0093f9; /*#0064ed;*/
}

.z-listheader-content, .z-listfooter-content {
	color: #fff; /**/
	font-weight: bold; /**/
}

.z-listheader-content, .z-listcell-content, .z-listgroup-content,
	.z-listgroupfoot-content, .z-listfooter-content {
	font-size: 11px; /**/
}

.z-listheader-content, .z-listcell-content, .z-listgroup-content, .z-listgroupfoot-content, .z-listfooter-content {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: rgba(0,0,0,0.9);
    line-height: 1.3em;
    overflow: hidden;
    padding: 3px 8px;
}

.z-listgroup-open.z-listgroupfoot .z-listcell-content {
	color: #4fb7ff; /**/
}

.list {
	border: none;
}

.clean {
	height: 10px;
	clear: both;
}

.labelText, .z-textbox, .z-decimalbox, .z-intbox, .z-longbox,
	.z-doublebox {
	font-size: 14px;
	line-height: 16px;
}

.footer-label {
	font-size: 12px;
	font-family: Times New Roman;
	font-weight: normal;
}


