@charset "ISO-8859-1";

/* Import other css 
@import url(style.css);
*/
.listbox1 {
	border: none;
	height: 761px;
}

.listbox2 {
	border: none;
	height: 690px;
}

.listbox3 {
	border: none;
}

.txtName {
	width: 500px;
}

.txtNuit {
	width: 150px;
}