* {
	margin: 0px;
	padding: 0px 0px;
	list-style-type: none;
}

.z-window-icon .z-window-close{
  font-size: 28px;
  display: block;
  width: 30px;
  height: 26px;
}

.z-north, .z-south, .z-west, .z-center, .z-east {
	border: none;
}

.z-center {
	width: 100%;
}

.z-south-body, .z-center-body, .z-north-body {
	padding: 2px;
}

}
.container, .header, .section, .aside, .footer {
	display: block;
}

.header {
	height: 300px;
}

.container {
	width: 100%;
	border: none;
}

.logo {
	color: black;
	font-size: 30px;
	font-family: Algerian;
}

.logotipo {
	color:#1c3bcd;
	font-weight: bold;
	font-size: 80px;
	font-family: Papyrus;
}

.z-menubar, .z-menu, .z-menu-content {
	/*border-radius: 10px;*/
	background: black;
	color: white;
	border: none;
}

.z-menu-text, .z-menuitem-text {
	font-size: 25px;
}

.z-menu-content:hover, .z-menuitem-content:hover {
	color: #fff;
	background-color: black; /*#e8f5ff*/
}

.z-menu-content:active {
	color: #fff;
	background-color: black;
}

.z-menuitem-content:active {
	color: #fff;
	background-color: #0093f9;
}

.z-menu-selected>.z-menu-content {
	color: #fff;
	background-color: black;
}

.z-menuitem-selected>.z-menuitem-content {
	color: #fff;
	background-color: #0093f9
}

.z-menupopup .z-menu-content:hover {
	color: #fff;
	background-color: black;
}

.z-menupopup .z-menuitem-content:hover {
	color: #fff;
	background-color: #0093f9;
}

.z-menupopup .z-menu-content:focus {
	color: #fff;
	background-color: black;
}

.z-menupopup .z-menuitem-content:focus {
	color: #fff;
	background-color: #0093f9;
}

.z-menupopup .z-menu-content:active, .z-menupopup .z-menuitem-content:active
	{
	color: #fff;
	background-color: #0093f9
}

.grid {
	padding-top: 5px;
	padding-bottom: 35px;
}

.left {
	width: 35%;
	float: left;
}

.center {
	width: 30%;
	float: left;
}

.right {
	width: 35%;
	float: left;
	text-align: right;
}

.left_session {
	width: 30%;
	float: left;
}

.center_session {
	width: 30%;
	margin: auto 20px;
	float: left;
}

.right_session {
	width: 30%;
	float: left;
}

.z-tab-content {
	font-size: 30px;
	font-weight: bold;
	font-family: Times New Roman;
}


.z-button {
	font-size: 22px;
	font-style: normal;
	height: 40px;
}

.z-checkbox-content {
	font-size: 22px;
}

input[type="checkbox"] {
	margin: 4px 10px 10px 10px;
	width: 25px;
	height: 25px
}

.search .z-comboitem-text, .search .z-combobox-button, .combobox .z-combobox-input
	{
	font-size: 25px;
	line-height: 25px;
	height: 40px;
}

.search .z-combobox-button {
	border-radius: 15px 15px 15px 15px;
}

.search .z-combobox-input {
	width: 600px;
	border-radius: 15px 15px 15px 15px;
}

.z-comboitem-text, .z-combobox-input,  .z-combobox-input,
	 .z-datebox-input,  .z-spinner-input,  .z-doublespinner-input
	{
	font-size: 25px;
	line-height: 25px;
	height: 40px;
}

.z-datebox-button,.z-bandbox-button,.z-combobox-button  {
	font-size: 30px;
	min-height: 40px;
	padding-top: 9px
}



.z-calendar-cell, .z-calendar-title, .z-calendar-icon .z-calendar-left,
	.z-calendar-icon .z-calendar-right {
	font-size: 22px;
}

.z-calendar th{
	font-size: 17px;
}

.z-caption {
	font-size: 30px;
	font-weight: bold;
	font-family: Times New Roman;
}

.listbox {
	border: none;
	height: 850px;
}

.z-listbox-footer {
	background: #0093f9; /*#f2f2f2;*/
	border-top: 1px solid #0093f9; /*#d9d9d9;*/
	overflow: hidden;
}

.z-listbox-footer .z-listfooter {
	background: #0093f9; /*#f2f2f2;*/
}

.z-listheader-hover {
	background: #0093f9; /*#4fb7ff;*/
}

.z-listheader-visited .z-listheader-button {
	background: #0093f9; /*#0064ed;*/
}

.z-listheader-content, .z-listfooter-content {
	color: #fff; /**/
	font-weight: bold; /**/
}

.z-listheader-content, .z-listcell-content, .z-listgroup-content,
	.z-listgroupfoot-content, .z-listfooter-content {
	font-size: 22px; /**/
}

.z-listgroup-open.z-listgroupfoot .z-listcell-content {
	color: #4fb7ff; /**/
}

.list {
	border: none;
}

.clean {
	height: 10px;
	clear: both;
}

.labelText, .z-textbox, .z-decimalbox, .z-intbox, .z-longbox,
	.z-doublebox {
	font-size: 25px;
	line-height: 25px;
}

.footer-label {
	font-size: 22px;
	font-family: Times New Roman;
	font-weight: normal;
}